@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700;800&family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "gameFont";
	src: url("/font/GAMERIA.ttf");
}

.navLink li {
	position: relative;
	padding: 3px 0;
}
.navLink li:hover::after {
	display: block;
}
.navLink li::after {
	display: none;
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #64ffda;
	bottom: 0;
	left: 0;
	animation: navAnimate 0.2s linear forwards;
}
@keyframes navAnimate {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
